PORT = 8080
SMTP_EMAIL = 'correo@gmail.com'
SMTP_PASSWORD = 'XXXXXXXXXXXXX'
SMTP_FROM = 'ECOMMERCE'
EMAIL_ADMIN = 'correo@gmail.com'
TWILIO_SID = 'XXXXXXXXXXXXXXXXXXXXXXX'
TWILIO_TOKEN = 'XXXXXXXXXXXXXXXXXXXXXXX'
TWILIO_PHONE_NUMBER = "+1111111111111"
TWILIO_PHONE_ADMIN = "+1111111111111"