<div class="jumbotron">
    <h1>Iniciar Sesion</h1>
    <div class="row">
        <div class="col-sm">
            <label for="login">Email</label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <input class="form-control" type="text" id="txtEmail">
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <label for="login">Contraseña</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <input class="form-control" type="password" id="txtPassword">
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <button class="btn btn-success" id="btnLogin" value="Enviar">Login</submit>
        </div>
    </div>    
</div>
<script src="/scripts/autenticacion/login.js"></script>