<div class="container mt-3">
    <div class="jumbotron">
        <h1>Registro de usuario</h1>
        <div class="row">
            <div class="col-sm">
                <label for="email">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <input class="form-control" type="text" id="txtEmail">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <label for="password">Contraseña</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <input class="form-control" type="password" id="txtPassword">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <label for="nombre">Nombre</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <input class="form-control" type="text" id="txtNombre">
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <label for="direccion">Direccion</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <input class="form-control" type="text" id="txtDireccion">
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <label for="edad">Edad</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <input class="form-control" type="text" id="txtEdad">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <label for="telefono">Telefono</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <input class="form-control" type="text" id="txtTelefono">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-success" id="btnRegistrar" value="Registrar">Registrar</submit>
            </div>
        </div> 
    </div>           
</div>
<script src="/scripts/autenticacion/account.js"></script>