<div class="jumbotron">
    <h2>Ingrese Producto</h2>

    <form>
            
        <div class="form-group">
            <label class="font-weight-bold font-italic" for="nombre">Nombre:</label>
            <input id="nombre" class="form-control" type="text" name="nombre">
        </div>
        <div class="form-group">
            <label class="font-weight-bold font-italic" for="Descripcion">Descripcion:</label>
            <input id="descripcion" class="form-control" type="text" name="descripcion">
        </div>
        <div class="form-group">
            <label class="font-weight-bold font-italic" for="precio">Precio:</label>
            <input id="price" class="form-control" type="text" name="precio">
        </div>
        <div class="form-group">
            <label class="font-weight-bold font-italic" for="foto">Foto URL:</label>
            <input id="thumbnail" class="form-control" type="text" name="thumbnail">
        </div> 
        <div class="form-group">
            <label class="font-weight-bold font-italic" for="Stock">Stock:</label>
            <input id="stock" class="form-control" type="text" name="stock">
        </div>
        <button class="btn btn-success" id="btnEnviar">Enviar</button>
    </form>
    
    <script src="./scripts/productos.js"></script>
</div>

    
